<footer>
  <section>
    <a href="https://github.com/ndukuwamalwa" target="_blank" title="Justin Wamalwa Github Repo">
      <i class="fa fa-github"></i>
      <span>Github</span>
    </a>
    <a href="https://twitter.com/@justinwamalwa" target="_blank" title="Justin Wamalwa Twitter handle">
      <i class="fa fa-twitter"></i>
      <span>Twitter</span>
    </a>
    <a href="https://www.linkedin.com/in/justinwamalwa" target="_blank" title="Justin Wamalwa LinkedIn Profile">
      <i class="fa fa-linkedin"></i>
      <span>LinkedIn</span>
    </a>
  </section>
  <section>
    <a href="mailto://justinwamalwa3@gmail.com" title="Justin Wamalwa Email">
      <i class="fa fa-envelope"></i>
      <span>justinwamalwa3@gmail.com</span>
    </a>
    <a href="tel://+254715040649" title="Justin Wamalwa Phone">
      <i class="fa fa-phone"></i>
      <span>+254715040649</span>
    </a>
  </section>
</footer>