<app-header></app-header>
<main id="about">
  <section>
    <h2>About</h2>
    <p>
        I am a Web and Software Developer from Kenya. I underwent a four-year Bachelor's Degree course in Computer Science
        from <a href="https://www.maseno.ac.ke" title="Maseno University" target="_blank">Maseno University</a>. I learnt
        programming using languages C and Java. Most of my college projects were written using PHP, JavaScript, CSS, HTML
        and MySQL as the storage engine. In late 2018, I had to make myself ready for the industry and needed a stack for my
        web and software development career. This was not a difficult decision due to my love and passion for JavaScript. I
        easily chose Nodejs and Angular and though I have a working knowledge of the MongoDB document based database
        engine, I still use MySQL since I believe it is more mature and suitable for all range of applications. I have
        greatly benefited from the <b>Andela Learning Community</b> with their various partners who still help me to
        solidify my skill as a <b>Mobile Web Specialist</b>. One partner (<a href="https://pluralsight.com">Pluralsight</a>)
        has helped me gain professional JavaScript skills and I fee that I owe them much credit for where stand in the field
        of programming.
    </p>
  </section>
  <section>
    <h2>Education</h2>
    <dl>
      <dt>Maseno University</dt>
      <dd>
        Bachelor of Science(Computer Science) - 2015-2019
      </dd>
    </dl>
  </section>
  <section>
    <h2>Skills</h2>
    <div class="items">
      <span class="stand-alone">JavaScript</span>
      <span class="stand-alone">Node.js</span>
      <span class="stand-alone">Angular</span>
      <span class="stand-alone">CSS</span>
      <span class="stand-alone">HTML</span>
      <span class="stand-alone">MySQL</span>
      <span class="stand-alone">MongoDB</span>
      <span class="stand-alone">Github</span>
    </div>
  </section>
  <section>
    <h2>Interests</h2>
    <div class="items">
      <span class="stand-alone">Arsenal FC</span>
      <span class="stand-alone">AFC Leopards</span>
      <span class="stand-alone">Economy and Business</span>
      <span class="stand-alone">Technology and Science</span>
      <span class="stand-alone">Music</span>
      <span class="stand-alone">Fantasy Football</span>
      <span class="stand-alone">Fantasy movies and Series</span>
    </div>
  </section>
</main>
<app-footer></app-footer>