main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    line-height: 1.7;
    letter-spacing: 1px;
    background-color: #fff;
    text-align: justify;

    section {
        margin: 1rem 0;

        h1 {
            margin-bottom: 1rem;
        }
    }
}

.items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .stand-alone {
        color: #fff;
        background-color: rgb(92, 206, 92);
        border-radius: .4rem;
        padding: .5rem 1rem;
        margin: 1rem;
        white-space: nowrap;
        font-weight: 400;
        cursor: pointer;
    
        &:hover {
            background-color: green;
        }
    }
}