main {
    display: flex;
}

table {
    border-collapse: collapse;
    max-width: 100%;

    td, th {
        padding: .5rem 1rem;
    }

    td:first-child {
        font-weight: 700;
    }
}

.project {
    border: thin solid #e7e7e7;
    padding: 1rem;
    box-shadow: 4px 4px 4px #e7e7e7;
    border-radius: .4rem;
    overflow: hidden;

    .title {
        color: rgb(240, 61, 61);
        font-size: 2rem;
        display: block;
        margin-bottom: 1rem;
    }

    p {
        text-align: justify;
    }

    hr {
        margin: 1rem 0;
    }

    a {
        text-decoration: none;
        color: blue;

        &:hover {
            text-decoration: underline;
        }
    }
}

@media all and (min-width: 900px) {
    main {
        padding: 2rem;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

   .project {
       width: 30%;
       margin: 1.5rem;
   }
}

@media all and (max-width: 809px) and (min-width: 479px) {
    main {
        padding: .5rem;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

   .project {
       width: 46%;
       margin: 1rem .5rem;
   }
}

@media all and (max-width: 480px) {
    main {
        flex-direction: column;
        justify-content: center;
    }

   .project {
       margin: 1rem .5rem;
   }
}